* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* https://color.adobe.com/Ive-got-friends-in-MERLOT-places-color-theme-10428977/?showPublished=true */
}
body {
    font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FCFEF9;
    color: #1B1C21;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
}
.wa-logo {
    width: 32px;
    float: right;
}
.drag-error {
    margin-top: 10px;
    display: none;
    color: #362F3E;
}
.drag-target {
    border: 1px dashed #EAC9C0;
    border-radius: 10px;
    color: #EAC9C0;
    padding: 20px;
    margin: 20px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.drag-target.dragged {
    border-style: solid;
    background: #EAC9C0;
    color: #FCFEF9;
}
.input-file {
    position: absolute;
    left: -100000px;
    top: -100000px;
    visibility: hidden;
}
.work {
    display: none;
    flex-direction: column;
}
.images img {
    width: 50%;
    float: left;
}
.log {
    margin: 10px 0;
}
.link-download {
    float: right;
    display: none;
}
.footer, .footer a, .footer a:visited {
    margin-top: 6px;
    font-size: 10px;
    text-align: right;
    color: #EAC9C0;
}
